@import 'lib/base';

body {
  transition: background-color 1s ease-in;
}

#clock {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));

  font-family: 'Avenir Next', 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 5rem;

  cursor: pointer;
  @include user-select(none);
  color: white;
}
