@font-face {
  src: url('../fonts/avenir-next-bold.otf');

  font-family: 'Avenir Next';
  font-weight: bold;
}

html, body {
  min-height: 100vh;

  font-size: 62.5%;
}

hr {
  margin-bottom: 3rem;

  border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.8rem;
}

p {
  font-size: 1.6rem;
}

body {
  transition: background-color 1s ease-in;
}

#clock {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Avenir Next', 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 5rem;

  cursor: pointer;
  user-select: none;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
